/* ------------- Composition -------------- */
.grid {
  display: grid;
  gap: var(--grid-gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--flex-gap, 1rem);
}

.container {
  --grid-gap: 0;
  grid-template-areas: "main" "footer";
  grid-template-rows: auto 1fr;
  min-width: fit-content;
  min-height: 100vh;
}

.container > main {
  grid-area: main;
}

.container > footer {
  grid-area: footer;
}

/* ------------- Block -------------------- */
.topSection {
  --flex-gap: 1.5rem;
  flex-direction: column;
  place-items: center;
  min-height: 18.75rem;
  background-image: url(/images/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  padding-top: 1.5rem;
}

.topSection h2 {
  line-height: 1.3;
  font-size: var(--fs-600);
  font-weight: var(--fw-500);
  color: hsl(var(--clr-neutral-100));
}

.topSection form {
  --flex-gap: 0;
  width: min(34.625rem, 87.2%);
  border-radius: 15px;
  overflow: hidden;
}

.topSection form > input {
  flex: 1;
  padding: 1rem 1.5rem;
}

.topSection form > .arrow {
  width: 3.65rem;
  background-color: hsl(var(--clr-neutral-800));
  background-image: url(/images/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.topSection form > .arrow:hover {
  background-color: hsl(var(--clr-neutral-400));
}

.dataDisplay {
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 15px;
  position: absolute;
  width: 87.2%;
  max-width: 69.375rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -45%);
  padding: 1.5rem;
  z-index: 1;
}

.dataDisplay > ul {
  flex-direction: column;
}

.dataDisplay li > div:nth-of-type(1) {
  color: hsl(var(--clr-neutral-200));
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.dataDisplay li > div:nth-of-type(2) {
  font-size: var(--fs-500);
  font-weight: var(--fw-500);
  margin-top: 0.25rem;
}

@media (min-width: 23.438rem) {
  .topSection {
    background-image: url(/images/pattern-bg-desktop.png);
    min-height: 17.5rem;
  }

  .dataDisplay {
    transform: translate(-50%, -38%);
  }
}

@media (min-width: 65rem) {
  .dataDisplay {
    transform: translate(-50%, -50%);
    padding: 2.375rem 2rem;
  }

  .dataDisplay > ul {
    --flex-gap: 2rem;
    flex-direction: row;
  }

  .dataDisplay li {
    flex: 1;
  }

  .dataDisplay li:not(:last-of-type) {
    border-right: 1px solid hsl(var(--clr-neutral-200) / 0.4);
    padding-right: 2rem;
  }

  .dataDisplay li > div:nth-of-type(2) {
    margin-top: 0.5rem;
    line-height: 1.2;
  }
}

.map {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

/* ------------- Exception ---------------- */
