/* ------------- Utility ------------------ */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.textNeutral100 {
  color: hsl(var(--clr-neutral-100));
}

.textNeutral200 {
  color: hsl(var(--clr-neutral-200));
}

.textCenter {
  text-align: center;
}

@media (min-width: 65rem) {
  .lgTextLeft {
    text-align: left;
  }
}
